on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      runner:
        type: string
        required: false
        default: ubuntu-latest-16-cores

jobs:
  build-and-deploy:
    runs-on:
      labels: ${{ inputs.runner }}
    container:
      image: ghcr.io/cncf/contribcard
      options: --user root
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v3

      - name: Install tar in container (needed for the cache)
        run: apk add --update --no-progress tar

      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: /tmp/contribcard-cache
          key: contribcard-cache-${{ inputs.project }}-${{ github.sha }}-${{ github.run_id }}
          restore-keys: |
            contribcard-cache-${{ inputs.project }}-

      - name: Build site
        env:
          GITHUB_TOKENS: ${{ secrets.GH_TOKENS }}
          RUST_LOG: "contribcard=debug"
        run: |
          contribcard build \
            --name ${{ inputs.project }} \
            --settings-file ./${{ inputs.project }}/settings.yml \
            --cache-dir /tmp/contribcard-cache \
            --base-cache-db-url https://d2j6qp8jhspooo.cloudfront.net/${{ inputs.project }}.db \
            --base-cache-db-username ${{ secrets.BASE_CACHE_DB_USERNAME }} \
            --base-cache-db-password ${{ secrets.BASE_CACHE_DB_PASSWORD }} \
            --output-dir /tmp/contribcard

      - name: Deploy site
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          contribcard deploy s3 \
            --bucket contribcard-${{ inputs.project }} \
            --content-dir /tmp/contribcard
