name: Kubernetes build and deploy

on:
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:
    inputs:
      runner:
        description: "Runner"
        type: string
        required: false
        default: ubuntu-latest-16-cores

jobs:
  build-and-deploy:
    uses: cncf/contribcard-sites/.github/workflows/build-and-deploy.yml@main
    with:
      project: kubernetes
    secrets: inherit
